# dependencies
node_modules
.pnpm-store

# ignore everything in .next except standalone + static
.next/*
!.next/standalone
!.next/static

# payload
uploads
media

# git
.git
.gitignore

# env
.env
.env.*

# logs
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
