@import '~@payloadcms/ui/scss';

.dashboard .before-dashboard {
  margin-bottom: base(1);

  &__banner {
    margin-bottom: base(0.5);
    & h4 {
      margin: 0;
    }
  }

  & .row {
    display: flex;
    gap: 8px;
  }

  & a:hover {
    opacity: 0.85;
  }
}
